<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'header')}">
<head>
    <title>Plates</title>

</head>
<body>

<script>
    $(document).ready(function () {
        $('#table_entries').DataTable({
            ordering: true,
            scrollX: false,
            scrollCollapse: false
        });
        $('.table_entries_length').addClass('bs-select');
    });
</script>


<div th:if="${#lists.isEmpty(plates)}">
    <h2> No plates specified were found</h2>
</div>
<div th:if="${not #lists.isEmpty(plates)}" width="100%">


    <h2 class="my-6" th:text="${title}">Plate Entries</h2>
    <div class="table">
        <table class="table table-striped table-bordered table-hover" id="table_entries"
               style="width:100%">
            <thead>
            <tr>
                <th>Plate</th>
                <th>Country</th>
                <th>User</th>
                <th>Entries</th>
                <th>Active</th>
                <th>History</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plate : ${plates}">
                <td th:text="${plate.plate}"></td>
                <td th:text="${plate.country==null?'':plate.country.isoCountryCode}"></td>
                <td th:text="${plate.user==null?'':plate.user.login}"></td>
                <td th:text="${plate.lotEntries==null?'0':#lists.size(plate.lotEntries)}"></td>
                <td th:text="${plate.active}"></td>
                <td><a th:href="@{/status/entries/plate(plate=${plate.plate})}" class="btn btn-primary"><i
                        class="fas fa-parking"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>